body {
	padding-top: 50px;
}

.login-form > div {
	margin-top: 10px;
}

.width-min {
	width: 2rem;
}

.width-small {
	width: 18rem;
}

.width-auto {
	width: auto;
}

tr.pagination-row {
	background-color: #ffffff;
}

.table tr.pagination-row > td,
.table tr.addtodo-row > td {
	border-top: 1px solid darkgrey;
}

.table tr.addtodo-row > td {
	border-bottom: 1px solid darkgrey;
}

.todos-pagination {
	margin: auto 0;
}

tr.addtodo-row {
	background-color: #f9f9f9;
}
