{% extends "layout.html" %}

{% block content %}
<div class="col-md-4 col-md-offset-4">
    <h1>Todo List:</h1>
    {%- if messages.hasMessage('todo.msg') %}
        {%- for item in messages.get('todo.msg') %}
            <div class="alert alert-success" >
                {{ item.message }}
            </div>
        {%- endfor %}
    {%- endif %}

    <table class="table table-striped">
        <tr>
            <th>#</th>
            <th>User</th>
            <th>Description</th>
            <th>Status</th>
            <th></th>
        </tr>
        {% for todo in todos %}
            <tr>
                <td>{{ todo.id }}</td>
                <td>{{ todo.user_id }}</td>
                <td>
                    <a href="{{ app.request.baseurl }}/todo/{{ todo.id }}">
                       {{ todo.description }}
                    </a>
                </td>
                <td>
                    {%- if todo.completed %}
                    <span>Completed on <br />{{ todo.completed_on }}.</span>
                    {%- else %}
                    <form method="post" action="{{ app.request.baseurl }}/todo/completed/{{ todo.id }}">
                        <button type="submit" class="btn btn-xs btn-success">
                            <span class="glyphicon glyphicon-ok glyphicon-white"></span> Mark Completed
                        </button>
                    </form>
                    {%- endif %}
                </td>
                <td>
                    <form method="post" action="{{ app.request.baseurl }}/todo/delete/{{ todo.id }}">
                        <button type="submit" class="btn btn-xs btn-danger">
                            <span class="glyphicon glyphicon-remove glyphicon-white"></span>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <form method="post" action="{{ app.request.baseurl }}/todo/add">
                <td colspan="3">
                    <input type="textbox" name="description" class="small-6 small-center {{ messages.hasMessage('add.todo') ? 'has-error' : '' }}" placeholder="Description...">
                    {%- if messages.hasMessage('add.todo') %}
                        {%- for error in messages.get('add.todo') %}
                            <p class="text-danger" >
                                {{ error.message }}
                            </p>
                        {%- endfor %}
                    {%- endif %}
                </td>
                <td>
                    <button type="submit" class="btn btn-sm btn-primary">Add</button>
                </td>
            </form>
        </tr>
    </table>
</div>
{% endblock %}