{% extends "layout.html" %}

{% block title %}{{ id }} Todo{% endblock %}

{% block content %}
<div class="col-md-8 col-md-offset-2">
	<h1>Todo:</h1>
	{% include 'messages.html' with {'name': 'todo.msg', 'type': 'success', 'messages': messages} %}
	<table class="table table-striped table-responsive">
		<tr>
			<th class="width-min">#</th>
			<th class="width-min"></th>
			<th class="width-auto">Description</th>
			<th class="width-small hidden-xs">Status</th>
			<th class="width-min"></th>
		</tr>
		<tr>
			<td>{{ id }}</td>
			<td>
				{% include 'markcompleted.html' with {
					'CSRFToken': CSRFToken,
					'id': id,
					'completed': completed,
					'completed_on': completed_on
				}%}			</td>
			<td>{{ description }}</td>
			<td class="hidden-xs">
				{%- if completed %}
				<span>Completed on <br /><strong>{{ completed_on }}</strong></span>
				{%- else %}
				<span>In progress</span>
				{%- endif %}
			</td>
			<td>
				{% include 'tododelete.html' with {'CSRFToken': CSRFToken, 'id': id}%}
			</td>
		</tr>
	</table>
</div>

{% endblock %}